
@{
    ViewBag.Title = "拍卖活动";
    Layout = "~/Views/Shared/_Layout_cn.cshtml";
}

<section class="page-title page-title-1 image-bg overlay parallax">
    <div class="background-image-holder fadeIn">
        <img alt="Background Image" class="background-image" src="http://img.lanrentuku.com/img/allimg/1508/14404999232800.jpg" >
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h2 class="uppercase mb0">品牌故事</h2>
            </div>
        </div>
    </div>
    <ol class="breadcrumb breadcrumb-2">
        <li>
            <a href="~/">主页</a>
        </li>
        <li class="active">品牌故事</li>
    </ol>
</section>
<section class="pb0">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">
                <h3>一种向大众传递的独特创新拍卖投资交易平台。</h3>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="feature feature-3 mb-xs-24 mb64">
                    <div class="left">
                        <i class="ti-panel icon-sm"></i>
                    </div>
                    <div class="right">
                        <h5 class="uppercase mb16">现货及远期合同拍卖销售</h5>
                        <p>凭借我们精心准备的一系列钻石原料供应，广泛的产品，拍卖销售客户可以在我们的单位现货拍卖，多单位现货拍卖和远期合同拍卖中结合粗糙采购，创造定制供应 以帮助他们实现业务目标。</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="feature feature-3 mb-xs-24 mb64">
                    <div class="left">
                        <i class="ti-medall icon-sm"></i>
                    </div>
                    <div class="right">
                        <h5 class="uppercase mb16">现货销售</h5>
                        <p>
                            此类拍卖会为客户提供了一次性购买钻石原石的机会。
                        </p><ul>
                            <li>‘单位’现货拍卖: 每次拍卖，客户可以购买一个单元的钻石原石。</li>
                            <br>
                            <li>‘多位’现货拍卖: 每次拍卖,客户可以以相同的价格购买多个相同单元的钻石原石。</li>
                        </ul><p></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="feature feature-3 mb-xs-24 mb64">
                    <div class="left">
                        <i class="ti-layout icon-sm"></i>
                    </div>
                    <div class="right">
                        <h5 class="uppercase mb16">远期合同拍卖销售</h5>
                        <p>这种拍卖会让客户有机会签订中短期供应合同,购买多个相同单元的钻石原石,并在预定的时间进行交付。</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="image-bg overlay parallax">
    <img src="" />
    <div class="background-image-holder fadeIn" style="transform: translate3d(0px, -330.5px, 0px);
        background: url('~/Images/about-us-banner.jpg');
    ">
        <img alt="Background Image" class="background-image" src="~/Images/about-us-banner.jpg" style="display: none;">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h3 class="uppercase mb64 mb-xs-32">我们的拍卖销售</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="feature feature-1 boxed">
                    <div class="text-center">
                        <i class="ti-settings icon"></i>
                        <h5 class="uppercase mb16">钻石原石拍卖</h5>
                        <a class="btn btn-lg btn-filled" href="~/login">查看拍卖</a>
                    </div>
                    <p>
                    </p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="feature feature-1 boxed">
                    <div class="text-center">
                        <i class="ti-star icon"></i>
                        <h5 class="uppercase mb16">抛光钻石拍卖</h5>
                        <a class="btn btn-lg btn-filled" href="~/login">查看拍卖</a>
                    </div>
                    <p>
                    </p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="feature feature-1 boxed">
                    <div class="text-center">
                        <i class="ti-user icon"></i>
                        <h5 class="uppercase mb16">私人拍卖</h5>
                        <a class="btn btn-lg btn-filled" href="~/login">查看拍卖</a>
                    </div>
                    <p>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>