@using Hms.Web.Persistence;
@{
    var page = ViewBag.Page as T_Pages;

    ViewBag.Title = page.SeoTitle;
    ViewBag.Description = page.SeoDescriptions;
    ViewBag.KeyWords = page.SeoKeyWords;

    List<T_Elements> elements = ViewBag.Elements as List<T_Elements>;
    elements = elements == null ? new List<T_Elements>() : elements;

    var banner = elements.Where(i => i.Code == "banner").FirstOrDefault();
    var about = elements.Where(i => i.Code == "contact").FirstOrDefault();

    Layout = "~/Views/Shared/_Layout_cn.cshtml";
}
<section class="page-title page-title-1 image-bg overlay parallax">
    <div class="background-image-holder">
        <img alt="安立特" class="background-image" src="@(banner==null?"":banner.Src)">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h2 class="uppercase mb0">联系我们</h2>
            </div>
        </div>

    </div>
    <ol class="breadcrumb breadcrumb-2">
        <li>
            <a href="/">主页</a>
        </li>
        <li class="active">联系我们</li>
    </ol>
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-5">
                @(Html.Raw(about==null?"":about.HTML))
            </div>
            <div class="col-sm-6 col-md-5 col-md-offset-1">
                <form class="form-email" data-success="感谢您的提交，我们将很快与您联系。" data-error="Please fill all fields correctly." action="/api/v1/send">
                    <input type="text" class="validate-required validate-email" name="email" placeholder="电子邮件地址" />
                    <textarea class="validate-required" name="message" rows="4" placeholder="信息"></textarea>
                    <button type="submit">发送信息</button>
                </form>
            </div>
        </div>
    </div>
</section>

