
@{
    ViewBag.Title = "公司服务";
    Layout = "~/Views/Shared/_Layout_cn.cshtml";
}
<section class="page-title page-title-1 image-bg overlay parallax">
    <div class="background-image-holder fadeIn" >
        <img alt="Background Image" class="background-image" src="http://img.lanrentuku.com/img/allimg/1305/5-13050GS109-50.gif">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h2 class="uppercase mb0">公司服务</h2>
            </div>
        </div>
    </div>
    <ol class="breadcrumb breadcrumb-2">
        <li>
            <a href="~/zh-cn/">主页</a>
        </li>
        <li class="active">公司服务</li>
    </ol>
</section>
<section class="pb0  bg-secondary">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">
                <h1>拍卖服务简介</h1>
                <p class="lead mb64">
                    环球金钻拍卖科技通过广泛的买家，卖家和拍卖行网络，是粗糙，抛光钻石的领先拍卖商。 现在，该公司首次通过推出粗糙和抛光钻石拍卖服务，将业内最大的国际多元化的注册卖家和注册买家网络汇集到一起。
                </p>
                <br>
            </div>
        </div>
    </div>
</section>
<section class="pb0 pt0">
    <div class="container">
        <div class="row">
            <img class="" alt="" src="~/Content/img/process.jpg"><br><br>
        </div>
    </div>
</section>
<section class="pb0 bg-secondary">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">
                <h1>高级贸易标准</h1>
                <p class="lead mb64">
                    该服务通过实施和公开发布环球金钻拍卖科技拍卖销售钻石交易标准提高了拍卖领域的交易标准，这是一套行业领先的关于卖家诚信，钻石出处以及合成品和处理筛选的领先标准。
                </p>
            </div>
        </div>
    </div>
</section>
<section class="pb0 ">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">
                <h1>安心可靠及简易的拍卖交易</h1>
                <p class="lead mb64">
                    环球金钻拍卖科技是领先的电子拍卖解决方案公司。我们创造了这种创新性拍卖，严格遵守全球信息安全标准。 投标和其他机密数据在安全的系统上加密，可靠及简易。
                </p>
            </div>
        </div>
    </div>
</section>
<section class="pb0 bg-secondary">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">
                <h1>环球金钻区块链</h1>
                <p class="lead mb64">
                    区块链，也被称为分布式账本技术，是一个分散的分布式数据库，它保持着一个不断增长的记录列表，称为“块”，可以防止篡改和修改，而不需要中央机构。 在区块链上加密的记录是不可变的 - 永久的，不能改变。 这提供了一个单一的真相版本，并提供了数据真实性的保证。
                </p>
                <p class="lead mb64">
                    环球金钻区块链是一个建立在钻石和珠宝行业基于区块链平台的可追溯性计划。 其目的是让所有的行业参与者，包括制造商，零售商和消费者了解从原产地到最终客户的钻石故事。 这是从消费者对他们的钻石和珠宝的终生旅程以及行业渴望证明其真实性，透明度和出处的兴趣深刻理解而形成的。
                </p>
            </div>
        </div>
    </div>
</section>