
@{
    ViewBag.Title = "Brand";
    Layout = "~/Views/Shared/_Layout_en.cshtml";
}

<section class="page-title page-title-1 image-bg overlay parallax">
    <div class="background-image-holder">
        <img alt="Background Image" class="background-image" src="http://img.lanrentuku.com/img/allimg/1508/14404999232800.jpg">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h2 class="uppercase mb0">Brand</h2>
            </div>
        </div>

    </div>

    <ol class="breadcrumb breadcrumb-2">
        <li>
            <a href="/en-us/">Home</a>
        </li>
        <li class="active">Brand</li>
    </ol>
</section>
<section class="pb0">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">
                <h3>A unique, innovative approach to delivering auctions to the masses.</h3>
            </div>
        </div>

    </div>

</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="feature feature-3 mb-xs-24 mb64">
                    <div class="left">
                        <i class="ti-panel icon-sm"></i>
                    </div>
                    <div class="right">
                        <h5 class="uppercase mb16">SPOT AND FORWARD SALES</h5>
                        <p>With an extensive range of products, carefully prepared from a run of mine (ROM) supply of rough diamonds, Auction Sales customers can combine rough purchases in our single-unit spot auctions, multiple-unit spot auctions and forward contract auctions to create bespoke supply portfolios to help them meet their business objectives.</p>
                    </div>
                </div>

            </div>
            <div class="col-md-4 col-sm-6">
                <div class="feature feature-3 mb-xs-24 mb64">
                    <div class="left">
                        <i class="ti-medall icon-sm"></i>
                    </div>
                    <div class="right">
                        <h5 class="uppercase mb16">SPOT SALES</h5>
                        <p>
                            These auctions provide customers with a one-off opportunity to purchase rough diamonds.
                            <ul>
                                <li>‘Single-Unit’ spot auctions: Customers may purchase a single unit of rough diamonds at each event.</li>
                                <br>
                                <li>‘Multiple-Unit’ spot auctions: Customers may purchase multiple homogeneous units of rough diamonds at the same price, at each event.</li>
                            </ul>
                        </p>
                    </div>
                </div>

            </div>
            <div class="col-md-4 col-sm-6">
                <div class="feature feature-3 mb-xs-24 mb64">
                    <div class="left">
                        <i class="ti-layout icon-sm"></i>
                    </div>
                    <div class="right">
                        <h5 class="uppercase mb16">FORWARD CONTRACT SALES (FCS)</h5>
                        <p>These auctions provide customers with the opportunity to purchase short and medium-term supply contracts of multiple homogenous units of rough diamonds for delivery at future pre-determined dates.</p>
                    </div>
                </div>

            </div>
        </div>

    </div>

</section>
<section class="image-bg overlay parallax">
    <div class="background-image-holder">
        <img alt="Background Image" class="background-image" src="~/Images/about-us-banner.jpg" />
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h3 class="uppercase mb64 mb-xs-32">Our Auction Sales</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-4">
                <div class="feature feature-1 boxed">
                    <div class="text-center">
                        <i class="ti-settings icon"></i>
                        <h5 class="uppercase mb16">Rough Diamond Auctions</h5>
                        <a class="btn btn-lg btn-filled" href="/login">View Auctions</a>
                    </div>
                    <p>
                    </p>
                </div>

            </div>
            <div class="col-sm-4">
                <div class="feature feature-1 boxed">
                    <div class="text-center">
                        <i class="ti-star icon"></i>
                        <h5 class="uppercase mb16">Polished Diamond Auctions</h5>
                        <a class="btn btn-lg btn-filled" href="/login">View Auctions</a>
                    </div>
                    <p>
                    </p>
                </div>

            </div>
            <div class="col-sm-4">
                <div class="feature feature-1 boxed">
                    <div class="text-center">
                        <i class="ti-user icon"></i>
                        <h5 class="uppercase mb16">Private Auctions</h5>
                        <a class="btn btn-lg btn-filled" href="/login">View Auctions</a>
                    </div>
                    <p>
                    </p>
                </div>

            </div>
        </div>

    </div>
</section>

