
@{
    ViewBag.Title = "Spraying machine | mixing machine | spraying equipment | mixing station equipment";
    Layout = "~/Views/Shared/_Layout_en.cshtml";
}


<section class="cover fullscreen image-slider slider-all-controls controls-inside parallax">
    <ul class="slides">
        <li class="overlay image-bg ">
            <div class="background-image-holder">
                <img alt="image" class="background-image" src="" />
            </div>
            <div class="container v-align-transform">
                <div class="row">
                    <div class="col-sm-10 col-sm-offset-1 text-center">
                        <h1 class="mb70 mb-xs-16 large">
                            <br />A Moment to<br />Last Forever
                        </h1>
                        <h6 class="uppercase mb16">GLOBAL LEADER IN DIAMOND AUCTION</h6>
                        <p class="lead mb40">
                            Extensive network of diamond buyers, sellers, investors
                        </p>
                        <a class="btn btn-lg " href="/en-us/about">Learn More</a>
                    </div>
                </div>

            </div>

        </li>
        <li class="overlay image-bg">
            <div class="background-image-holder">
                <img alt="image" class="background-image" src="/images/home-slider2.jpg" />
            </div>
            <div class="container v-align-transform">
                <div class="row">
                    <div class="col-sm-offset-1 text-center col-sm-10">
                        <h1 class="mb40 mb-xs-16 large"><br />Innovation Diamond<br />Auction Platform</h1>
                        <h6 class="uppercase mb16">Bring you closer to diamond investment</h6>
                        <p class="lead mb40">
                            Secure, Well trusted platform used by major auction house
                        </p>
                        <a class="btn btn-lg btn-white" href="/en-us/about">Learn More</a>
                    </div>
                </div>

            </div>

        </li>
    </ul>
</section>
<section class="image-edge pt120 pb120 pt-xs-40 pb-xs-40">
    <div class="row mb80 mb-xs-0">
        <div class="col-md-8 col-md-offset-2 text-center">
            <h2>Universal AUCTION SALES</h2>
            <h4>
                Global leaders in auctioning diamonds
            </h4>
        </div>
    </div>
    <div class="col-md-5 col-sm-7 p24 pb0">
        <h3 class="mb40 mb-xs-16 p24 pb0">Universal had an extensive network of buyers, sellers and investors for Diamonds.</h3>
        <p class="lead mb10 p24 pb0">
            One of the fastest growing e-commerce sites in the diamond world, Universal is the world&#039;s leading online marketplace for diamonds.
        </p>
        <p class="lead mb10 p24 pb0">
            Auction houses, galleries and dealers use Universal to deepen relationships with millions of clients around the world, connecting people with the things they love.
        </p>
    </div>
    <div class="col-md-6 col-sm-4 p0">
        <img alt="Screenshot" class="cast-shadow mb-xs-24" src="img/home1.png">
    </div>

</section>
<section class="image-bg bg-dark parallax overlay pt120 pb120">
    <div class="background-image-holder">
        <img alt="Background Image" class="background-image" src="/images/diamond-p1.png" />
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h2 class="uppercase mb8">Diamond Expertise</h2>
                <p class="lead mb40">Learn more about Diamonds</p>
                <a class="btn btn-lg btn-white mb0" href="/en-us/edu/the-4cs">Start Explore</a>
            </div>
        </div>

    </div>

</section>