
@{
    ViewBag.Title = "新闻资讯";
    Layout = "~/Views/Shared/_Layout_en.cshtml";
}

    <section class="page-title page-title-1 image-bg overlay parallax">
        <div class="background-image-holder fadeIn">
            <img alt="Background Image" class="background-image" src="https://hbimg.huabanimg.com/8e0332f286b92b7692ed7c4fde99dad3ffad0cf12c8170-HAttpn_fw658">
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h2 class="uppercase mb0">新闻资讯</h2>
                </div>
            </div>

        </div>

        <ol class="breadcrumb breadcrumb-2">
            <li>
                <a href="/zh-cn">主页</a>
            </li>
            <li>新闻资讯</li>
        </ol>
    </section>
<section class="news-section">
    <div class="container">
        <div class="row v-align-children margin-bottom-10">
            <div class="col-sm-3 text-center">
                <img class="cast-shadow" alt="Screenshot" src="~news/news-april17-2019-turkey.jpeg">
            </div>
            <div class="col-sm-9">
                <h3 class="uppercase">环球金钻科技土耳其周年嘉年华 伊斯坦布尔星光之夜熠熠生辉</h3>
                <h5 class="text-gray-dark">2019年06月14日</h5>
                <p>2019年6月，环球金钻科技周年嘉年华-星光之夜在土耳其最大城市伊斯坦布尔成功举行。伊斯坦布尔，作为拜占庭和奥斯曼两大帝国首都长达近1600多年的风水宝地，此次承载着环球金钻科技一年以来辉煌的发展历程，令这个意义非凡的千人会议充满了历史的厚重感。</p>
                <ul>
                    <li class="float-left col-sm-4 no-padding-left">
                        <b class="float-left col-sm-12 no-padding-left">了解详情</b>
                        <ul>
                            <li><a target="_blank" href="https://new.qq.com/omn/20190605/20190614A0A0W000">腾讯</a></li>
                            <li><a target="_blank" href="http://www.24itonline.com/dzsw/2019-06-14/353.html">24IT在线</a></li>
                            <li><a target="_blank" href="http://www.iguanzhan.com/tech/2019-06-14/1345.html">观瞻网财经</a></li>
                        </ul>
                    </li>
                    <li class="float-left col-sm-4 no-padding-left">
                        <b class="float-left col-sm-12 no-padding-left">&nbsp;</b>
                        <ul>
                            <li><a target="_blank" href="http://www.zscx365.com/yejie/2019-06-14/566.html">中商财讯网</a></li>
                            <li><a target="_blank" href="http://www.cennnews.com/finance/2019-06-14/378.html">中企新闻网</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <hr>
    </div>

    <div class="container">
        <div class="row v-align-children margin-bottom-10">
            <div class="col-sm-3 text-center">
                <img class="cast-shadow" alt="Screenshot" src="~news/news-april22-2019-1070.jpeg">
            </div>
            <div class="col-sm-9">
                <h3 class="uppercase">环球金钻科技：香港国际马匹拍卖会圆满落锤 SICP将推出赛马拍品</h3>
                <h5 class="text-gray-dark">2019年04月17日</h5>
                <p>环球金钻科技市场研究员表示，此次在香港国际马匹拍卖会的圆满举行，印证了赛马拍卖市场的投资潜力，环球金钻科技多元产业部门已着手赛马拍卖项目的开发。对拥有拍卖潜能马匹进行的甄选与考核工作，目前已在包括澳大利亚，日本，欧洲，美国在内的多个国家开展。作为反馈，环球金钻科技将于今年四月中旬在环球金钻共享拍卖平台（SICP）上推出两匹来自于澳大利亚的拍卖马。环球金钻科技表示，公司将继续对赛马拍卖项目的开发，致力于为客户呈递更高投资潜能的优质拍品。</p>
                <ul>
                    <li class="float-left col-sm-4 no-padding-left">
                        <b class="float-left col-sm-12 no-padding-left">了解详情</b>
                        <ul>
                            <li><a target="_blank" href="https://www.sohu.com/a/308590521_120103679?sec=wd">搜狐</a></li>
                            <li><a target="_blank" href="https://www.toutiao.com/i6680737954530329099/">今日头条</a></li>
                            <li><a target="_blank" href="http://dy.163.com/v2/article/detail/ED04G2GP0521EJ4A.html">网易</a></li>
                            <li><a target="_blank" href="http://view.inews.qq.com/a/20190417A0CEV900">腾讯</a></li>
                        </ul>
                    </li>
                    <li class="float-left col-sm-4 no-padding-left">
                        <b class="float-left col-sm-12 no-padding-left">&nbsp;</b>
                        <ul>
                            <li><a target="_blank" href="http://www.wuhuaguow.cn/article/201917122919.html">中财在线</a></li>
                            <li><a target="_blank" href="http://www.zgxun.com.cn/article/201917122920.html">中国资讯网</a></li>
                            <li><a target="_blank" href="http://www.yangcongw.cn/article/201904/17122921.html">中华经济网</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <hr>
    </div>

    <div class="container">
        <div class="row v-align-children margin-bottom-10">
            <div class="col-sm-3 text-center">
                <img class="cast-shadow" alt="Screenshot" src="~news/news-april17-2019-1063.png">
            </div>
            <div class="col-sm-9">
                <h3 class="uppercase">环球金钻科技：台北超级富豪数位居世界第八 UAP进军其高端市场</h3>
                <h5 class="text-gray-dark">2019年4月15日</h5>
                <p>环球金钻科技市场分析师表示,20世纪70年代,世界电子产业进行了第一次重大转移,电子制造业由美国、日本转移到中国的台湾、香港、韩国、新加坡等地区,其中台湾厂商开始向电子产业链上游迈进,计算机公司宏基和芯片制造商台积电为其中翘楚。</p>
                <ul>
                    <li class="float-left col-sm-4 no-padding-left">
                        <b class="float-left col-sm-12 no-padding-left">了解详情</b>
                        <ul>
                            <li><a target="_blank" href="https://m.sohu.com/a/307882978_100189321/?pvid=000115_3w_a&amp;sec=wd">搜狐</a></li>
                            <li><a target="_blank" href="http://dy.163.com/v2/article/detail/ECOEK56J0521EJ4A.html">网易</a></li>
                            <li><a target="_blank" href="https://www.toutiao.com/i6679699511171875339/">今日头条</a></li>
                            <li><a target="_blank" href="https://new.qq.com/omn/20190415A08AIB00">腾讯</a></li>
                        </ul>
                    </li>
                    <li class="float-left col-sm-4 no-padding-left">
                        <b class="float-left col-sm-12 no-padding-left">&nbsp;</b>
                        <ul>
                            <li><a target="_blank" href="https://t.cj.sina.com.cn/articles/view/2406648225/8f7289a100100gvg5?from=tech&amp;subch=internet">新浪</a></li>
                            <li><a target="_blank" href="http://www.wuhuaguow.cn/article/201915122294.html">中财在线</a></li>
                            <li><a target="_blank" href="http://www.zgxun.com.cn/article/201915122295.html">中国资讯网</a></li>
                            <li><a target="_blank" href="http://www.yangcongw.cn/article/201904/15122296.html">中华经济网</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <hr>
    </div>

    <div class="container">
        <div class="row v-align-children margin-bottom-10">
            <div class="col-sm-3 text-center">
                <img class="cast-shadow" alt="Screenshot" src="~news/news-april9-2019-1055.jpg">
            </div>
            <div class="col-sm-9">
                <h3 class="uppercase">环球金钻科技：区块链拍卖生态繁荣 UAP Token登陆LAToken</h3>
                <h5 class="text-gray-dark">2019年04月03日</h5>
                <p>据报道，由环球拍卖平台（UAP）所推出的代币—UAP Token于2019年1月8号在国际交易所BTCPIP面世后，于2019年4月，成功在另一知名国际交易所LAToken正式上线。</p>
                <p>LAToken作为全球第一家代币化资产区块链平台，通过实体资产代币化交易，让虚拟货币可被广泛使用在实体经济，让所有虚拟货币拥有者通过实际资产货币化，实现投资组合多样化。此次UAP Token正式登陆这一位居世界前列的知名交易所，无疑将引起全球投资者的更大关注。</p>
                <ul>
                    <li class="float-left col-sm-4 no-padding-left">
                        <b class="float-left col-sm-12 no-padding-left">了解详情</b>
                        <ul>
                            <li><a target="_blank" href="http://dy.163.com/v2/article/detail/EBR3FIMH0521EJ4A.html">网易</a></li>
                            <li><a target="_blank" href="http://view.inews.qq.com/a/20190403A05PAT00">腾讯</a></li>
                            <li><a target="_blank" href="https://www.sohu.com/a/305657225_100189321?sec=wd">搜狐</a></li>
                            <li><a target="_blank" href="https://t.cj.sina.com.cn/articles/view/2406648225/8f7289a100100gkj8?from=tech&amp;subch=internet">新浪</a></li>
                            <li><a target="_blank" href="https://www.toutiao.com/i6675479031430775308/">今日头条</a></li>
                        </ul>
                    </li>
                    <li class="float-left col-sm-4 no-padding-left">
                        <b class="float-left col-sm-12 no-padding-left">&nbsp;</b>
                        <ul>
                            <li><a target="_blank" href="http://www.zgxun.com.cn/article/201903121261.html">中国资讯网</a></li>
                            <li><a target="_blank" href="http://qiye.lnd.com.cn/shangjie/64460.html">北国网</a></li>
                            <li><a target="_blank" href="http://www.wuhuaguow.cn/article/201903121260.html">中财在线</a></li>
                            <li><a target="_blank" href="http://www.yangcongw.cn/article/201904/03121262.html">中华经济网</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <hr>
    </div>
    <div class="container">
        <div class="row v-align-children margin-bottom-10">
            <div class="col-sm-3 text-center">
                <img class="cast-shadow" alt="Screenshot" src="~news/news-april9-2019-1056.png">
            </div>
            <div class="col-sm-9">
                <h3 class="uppercase">环球金钻科技：SICP将推出潜力地产项目 开启多元资产拍卖时代</h3>
                <h5 class="text-gray-dark">2019年03月28日</h5>
                <p>据了解,环球金钻科技首席执行官爱德华·诺曼近日赴缅甸考察相关地产拍卖项目,其中一处位于仰光市中心的一个在建酒店项目,将作为高潜力示范地产拍卖项目向高端客户展示。爱德华·诺曼表示:“公司将在环球金钻共享拍卖平台(SICP)上推出此地产项目,大家应该已经注意到,在公司近几次的拍卖活动中已经出现了钻石珠宝以外的拍品,其中豪华名表系列拍品,以及南非金矿项目都以超预期的成交价落锤,我相信我们已经进入了一个多元资产拍卖时代。”对于此次考察之行,爱德华·诺曼表示,缅甸已被各界专家认为是亚洲最具发展潜能的国家之一,环球金钻科技将集中资源,用于在缅甸的项目发掘,以呈现更多相关产业项目在环球金钻共享拍卖平台(SICP)上。</p>
                <ul>
                    <li class="float-left col-sm-4 no-padding-left">
                        <b class="float-left col-sm-12 no-padding-left">了解详情</b>
                        <ul>
                            <li><a target="_blank" href="https://www.sohu.com/a/304294379_100189321?sec=wd">搜狐</a></li>
                            <li><a target="_blank" href="https://www.toutiao.com/i6673089417726394883/">今日头条</a></li>
                            <li><a target="_blank" href="https://t.cj.sina.com.cn/articles/view/2406648225/8f7289a100100geeq?from=tech&amp;subch=internet">新浪</a></li>
                        </ul>
                    </li>
                    <li class="float-left col-sm-4 no-padding-left">
                        <b class="float-left col-sm-12 no-padding-left">&nbsp;</b>
                        <ul>
                            <li><a target="_blank" href="https://new.qq.com/omn/20190328A047XC00">腾讯</a></li>
                            <li><a target="_blank" href="http://dy.163.com/v2/article/detail/EBAFFFL60521EJ4A.html">网易</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <hr>
    </div>

    <div class="container">
        <div class="row v-align-children margin-bottom-10">
            <div class="col-sm-3 text-center">
                <img class="cast-shadow" alt="Screenshot" src="~news/news-jan25-2019.jpeg">
            </div>
            <div class="col-sm-9">
                <h3 class="uppercase">环球金钻科技：迎接区块链拍卖生态繁荣UAP代币正式上线</h3>
                <h5 class="text-gray-dark">2019年01月23日</h5>
                <p>环球拍卖平台（UAP）建立于2018年初，致力于以区块链技术改革在线上拍卖市场的运作。有数据显示，全球线上拍卖市场从2014年到2017年实现稳定增长，市场规模预计未来四年将突破34亿美元，这为环球拍卖平台（UAP）在市场上吸引主要平台合作方提供了巨大的机会。</p>
                <ul>
                    <li class="float-left col-sm-4 no-padding-left">
                        <b class="float-left col-sm-12 no-padding-left">了解详情</b>
                        <ul>
                            <li><a target="_blank" href="http://dy.163.com/v2/article/detail/E674UG570518KVMM.html">网易</a></li>
                            <li><a target="_blank" href="https://kuaibao.qq.com/s/20190123A0K2Q900">腾讯</a></li>
                            <li><a target="_blank" href="https://t.cj.sina.com.cn/articles/view/2406648225/8f7289a100100eqq6?from=tech&amp;subch=internet">新浪</a></li>
                            <li><a target="_blank" href="https://www.toutiao.com/i6649340219134837262/">今日头条</a></li>
                            <li><a target="_blank" href="http://www.wuhuaguow.cn/article/201923113867.html">中财在线</a></li>
                            <li><a target="_blank" href="http://www.24itonline.com/dzsw/2019-01-23/339.html">24IT在线</a></li>
                        </ul>
                    </li>
                    <li class="float-left col-sm-4 no-padding-left">
                        <b class="float-left col-sm-12 no-padding-left">&nbsp;</b>
                        <ul>
                            <li><a target="_blank" href="http://www.cennnews.com/news/2019-01-23/348.html">中企新闻网</a></li>
                            <li><a target="_blank" href="http://www.zgxun.com.cn/article/201923113869.html">中国资讯网</a></li>
                            <li><a target="_blank" href="http://www.iguanzhan.com/finance/2019-01-23/1178.html">观瞻网</a></li>
                            <li><a target="_blank" href="http://www.acnews.cn/xinwen/20190124595.html">IT产业网</a></li>
                            <li><a target="_blank" href="http://www.zscx365.com/licai/2019-01-23/545.html">中商财讯网</a></li>
                            <li><a target="_blank" href="http://www.yangcongw.cn/article/201901/23113868.html">中华经济网</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <hr>
    </div>

    <div class="container">
        <div class="row v-align-children margin-bottom-10">
            <div class="col-sm-3 text-center">
                <img class="cast-shadow" alt="Screenshot" src="~news/news-dec24.png">
            </div>
            <div class="col-sm-9">
                <h3 class="uppercase">环球金钻科技：公司将调整运营模式以促成牌照申请</h3>
                <h5 class="text-gray-dark">2018年12月19日</h5>
                <p>基于环球金钻科技共享拍卖平台在国内市场产生的热烈反应，公司已决定开始筹备向国内相关部门申请拍卖牌照。由于国家对此行业的严格要求，整个审核期有可能长达一年，为尽快顺利过审，公司正在各方面调整运营模式以完全符合牌照需求。与此同时，公司将对现有的环球金钻科技微信公众号进行调整，拟在微信公众平台上启动一个全新的资讯频道，此微信公众号将以崭新的一面呈现给所有关注的用户。上述调整事项，公司将在今年内公布相关信息。</p>
                <ul>
                    <li class="float-left col-sm-4 no-padding-left">
                        <b class="float-left col-sm-12 no-padding-left">阅读详情</b>
                        <ul>
                            <li><a target="_blank" href="http://www.hubeitoday.com.cn/post/571/90172">今日湖北</a></li>
                            <li><a target="_blank" href="http://www.inpai.com.cn/news/redian/2018/1219/redian121512176.html">硬派科技</a></li>
                            <li><a target="_blank" href="http://www.edu777.com/caijing/20181219/caijing12171955328.html">尚七网-财经</a></li>
                            <li><a target="_blank" href="http://www.iewzx.com/zixun/gundong/2018/1219/gundong082833054.html">中国经贸网</a></li>
                            <li><a target="_blank" href="http://baijiahao.baidu.com/builder/preview/s?id=1620444063914186905">百家号</a></li>
                            <li><a target="_blank" href="http://www.wuhuaguow.cn/article/201819109600.html">中财在线</a></li>
                            <li><a target="_blank" href="http://www.24itonline.com/yjzx/2018-12-19/337.html">24IT在线</a></li>
                        </ul>
                    </li>
                    <li class="float-left col-sm-4 no-padding-left">
                        <b class="float-left col-sm-12 no-padding-left">&nbsp;</b>
                        <ul>
                            <li><a target="_blank" href="https://www.toutiao.com/i6636635181811761671/">今日头条</a></li>
                            <li><a target="_blank" href="http://www.zgxun.com.cn/article/201819109601.html">中国资讯网</a></li>
                            <li><a target="_blank" href="http://qiye.lnd.com.cn/shangjie/45392.html">北国网</a></li>
                            <li><a target="_blank" href="http://www.acnews.cn/xinwen/20181223838.html">IT产业网</a></li>
                            <li><a target="_blank" href="http://www.ibandao.cn/qingdao/lsoc/2018/1220/490213.html">半岛新闻网</a></li>
                            <li><a target="_blank" href="https://kuaibao.qq.com/s/20181220A0K82S00">腾讯</a></li>
                            <li><a target="_blank" href="http://www.yangcongw.cn/article/201812/19109602.html">中华经济网</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <hr>
    </div>

    <div class="container">
        <div class="row v-align-children margin-bottom-10">
            <div class="col-sm-3 text-center">
                <img class="cast-shadow" alt="Screenshot" src="~news/news-dec10-1.png">
                <img class="cast-shadow" alt="Screenshot" src="~news/news-dec10-2.png">
            </div>
            <div class="col-sm-9">
                <h3 class="uppercase">环球金钻科技：任命Supreet先生为印度市场营销总监</h3>
                <h5 class="text-gray-dark">2018年12月04日</h5>
                <p>环球金钻科技CEO爱德华·诺曼先生协同亚太区总监梁先生造访环球金钻科技位于印度钦奈的办公室。两位环球金钻高层与当地重要战略合作伙伴共同商讨了开发印度市场的营销策略，并正式对外宣布任命Supreet先生为印度市场营销总监。环球金钻科技CEO爱德华·诺曼表示，Supreet先生是我们非常重要的战略合作伙伴，现在他也是环球金钻科技在印度市场的主要负责人，他将成为环球金钻科技在协调印度市场拓展方面的灵魂人物。环球金钻科技亚太区总监梁先生表示自己非常高兴能被公司委派到印度提供市场支持，同时希望能够与印度营销总监Supreet先生齐心协力，将环球金钻科技带领到另一个高峰。</p>
                <ul>
                    <li class="float-left col-sm-4 no-padding-left">
                        <b class="float-left col-sm-12 no-padding-left">阅读详情</b>
                        <ul>
                            <li><a target="_blank" href="http://www.wuhuaguow.cn/article/201804107782.html">中财在线</a></li>
                            <li><a target="_blank" href="https://www.toutiao.com/i6630953516305220104/">今日头条</a></li>
                            <li><a target="_blank" href="http://www.zgxun.com.cn/article/201804107783.html">中国资讯网</a></li>
                        </ul>
                    </li>
                    <li class="float-left col-sm-4 no-padding-left">
                        <b class="float-left col-sm-12 no-padding-left">&nbsp;</b>
                        <ul>
                            <li><a target="_blank" href="http://www.acnews.cn/xinwen/20181223402.html">IT产业网</a></li>
                            <li><a target="_blank" href="https://kuaibao.qq.com/s/20181204A0H2X400">腾讯快报</a></li>
                            <li><a target="_blank" href="http://www.yangcongw.cn/article/201812/04107784.html">中华经济网</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <hr>
    </div>

    <div class="container">
        <div class="row v-align-children margin-bottom-10">
            <div class="col-sm-3 text-center">
                <img class="cast-shadow" alt="Screenshot" src="~news/news-midas-touch.png">
            </div>
            <div class="col-sm-9">
                <h3 class="uppercase">环球金钻科技：苏富比首开专场“点石成金” 开启黄金拍卖新时代</h3>
                <h5 class="text-gray-dark">2018年11月19日</h5>
                <p>环球金钻科技作为近年来快速崛起的线上拍卖平台，大势当前自然不落人后。黄金在中国，印度，乃至其他亚洲地区以及中东市场都深受广大消费者青睐，公司在近期将根据专家的评估报告在全世界收购相关产业以迎接黄金拍卖的新市场。此外，环球金钻科技产品部门也将在不久之后推出独家黄金系列拍品。</p>
                <ul>
                    <li class="float-left col-sm-4 no-padding-left">
                        <b class="float-left col-sm-12 no-padding-left">阅读详情</b>
                        <ul>
                            <li><a target="_blank" href="http://www.hubeitoday.com.cn/post/571/87299">今日湖北</a></li>
                            <li><a target="_blank" href="http://news.jxntv.cn/2018/1119/9030518.shtml">今视网</a></li>
                            <li><a target="_blank" href="http://news.xxrb.com.cn/html/2018/finace_1119/221693.html">新乡网</a></li>
                            <li><a target="_blank" href="http://www.hsgd.net.cn/Article/HuangShiNews/wtyl/201811/20181119103547_280242.html">黄石广电网</a></li>
                            <li><a target="_blank" href="http://www.0311law.com/html/20181126964.htm">河法在线</a></li>
                        </ul>
                    </li>
                    <li class="float-left col-sm-4 no-padding-left">
                        <b class="float-left col-sm-12 no-padding-left">&nbsp;</b>
                        <ul>
                            <li><a target="_blank" href="https://www.zg3n.com.cn/article-76828-1.html">中国三农网</a></li>
                            <li><a target="_blank" href="http://www.guojicj.com/news/china/shehui/23930.html">国际财经网</a></li>
                            <li><a target="_blank" href="http://wanbao.xyxww.com.cn/html/2018-11/19/content_15097.htm">信阳晚报</a></li>
                            <li><a target="_blank" href="http://epaper.fjndwb.com2018-11/19/11212277.html">宁德晚报</a></li>
                            <li><a target="_blank" href="http://www.dzshbw.com/news/2018/shangye_1119/172506.html">大众新闻网</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <hr>
    </div>

    <div class="container">
        <div class="row v-align-children margin-bottom-10">
            <div class="col-sm-3 text-center">
                <img class="cast-shadow" alt="Screenshot" src="~news/news-uap.jpg">
            </div>
            <div class="col-sm-9">
                <h3 class="uppercase">拍卖平台环球金钻科技与区块链公司合作并宣布新董事会成员</h3>
                <h5 class="text-gray-dark">2018年09月28日</h5>
                <p>环球金钻科技国际有限公司宣布与近期广受瞩目的金融科技技术公司—环球拍卖计划UAP建立战略合作伙伴关系。此次合作是环球金钻科技企业内部三年市场开拓计划的主要里程碑之一。数日后，环球金钻科技亦宣布了新的董事会成员。据悉，新董事会也任命了几个新的职位。市场观察者将新董事会的构成诠释为环球金钻科技雄心勃勃地往全球新兴市场推进其旗舰拍卖服务—环球金钻共享拍卖平台的一个明证。</p>
                <ul>
                    <li class="float-left col-sm-4 no-padding-left">
                        <b class="float-left col-sm-12 no-padding-left">阅读详情</b>
                        <ul>
                            <li><a target="_blank" href="https://www.sohu.com/a/256737081_539679">搜狐财经</a></li>
                            <li><a target="_blank" href="http://www.cnii.com.cn/internetnews/2018-09/28/content_2108219.htm">中国信息产业网</a></li>
                            <li><a target="_blank" href="http://www.beijingleather.com.cn/cj/cj08207883.html">中国财经信息网</a></li>
                            <li><a target="_blank" href="http://www.dzshbw.com/news/2018/shangye_0928/162911.html">大众新闻网</a></li>
                            <li><a target="_blank" href="http://www.paoku.com.cn/hyxw/2018/0928/hyxw09276771.html">中国跑酷财经网</a></li>
                        </ul>
                    </li>
                    <li class="float-left col-sm-4 no-padding-left">
                        <b class="float-left col-sm-12 no-padding-left">&nbsp;</b>
                        <ul>
                            <li><a target="_blank" href="http://www.dogame.com.cn/kuaixun/2018/0928/kuaixun09273664.html">科技新闻网</a></li>
                            <li><a target="_blank" href="http://www.e521.com/pl/wywy/544032.shtml">中华财会网</a></li>
                            <li><a target="_blank" href="http://news.gxorg.com/baoliao/2018/0929/baoliao080814720.html">八桂网</a></li>
                            <li><a target="_blank" href="http://www.hqcjw.cn/xiaofei/2018/0929/4537.html">环球财经网</a></li>
                            <li><a target="_blank" href="http://news.cx368.com/news/gd/2018/0929/84190.html">中国财讯网</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <hr>
    </div>

    <div class="container">
        <div class="row v-align-children margin-bottom-10">
            <div class="col-sm-3 text-center">
                <img class="cast-shadow" alt="Screenshot" src="~news/news-saco4.jpeg">
                <img class="cast-shadow" alt="Screenshot" src="~news/news-saco5.jpeg">
            </div>
            <div class="col-sm-9">
                <h3 class="uppercase">环球金钻科技：将与UAP强强联手构建拍卖业加密生态系统</h3>
                <h5 class="text-gray-dark">2018年09月25日</h5>
                <p>2018年9月16日，全球大型区块链会议降临韩国首尔。来自世界各地的专家、投资者和创业者们汇聚在活力之都—首尔，分享创新技术成果，开展对话寻求突破。此次Block Seoul会议荣幸邀请到了包括纽约州前州长，前美国国家情报局负责人David Paterson，中将James Clapper、BTCC联合创始人兼比特币基金会董事会成员Bobby Lee和维基百科的创始人Jimmy Wales在内的诸多各界大能登台演讲。值得一提的是，环球金钻科技有限公司便是与UAP联盟的6家拍卖公司其中之一，环球金钻科技首席执行官爱德华·诺曼也受邀参加了此次Block Seoul会议。</p>
                <ul>
                    <li class="float-left col-sm-4 no-padding-left">
                        <b class="float-left col-sm-12 no-padding-left">新闻视频</b>
                        <ul>
                            <li><a target="_blank" href="https://v.qq.com/x/page/v0719egkxwj.html">腾讯视频</a></li>
                        </ul>
                    </li>
                    <li class="float-left col-sm-4 no-padding-left">
                        <b class="float-left col-sm-12 no-padding-left">阅读详情</b>
                        <ul>
                            <li><a target="_blank" href="http://qx.tynews.com.cn/system/2018/09/25/030088189.shtml">太原新闻网</a></li>
                            <li><a target="_blank" href="http://news.ahyx.cc/qyzx/201809/121191.html">岳西新闻</a></li>
                            <li><a target="_blank" href="http://www.tm022.com/viewdoc.php?id=20561">天穆网</a></li>
                            <li><a target="_blank" href="http://news.jxntv.cn/2018/0925/8987495.shtml">江西台</a></li>
                        </ul>
                    </li>
                    <li class="float-left col-sm-4 no-padding-left">
                        <b class="float-left col-sm-12 no-padding-left">&nbsp;</b>
                        <ul>
                            <li><a target="_blank" href="http://news.xinxunwang.com/china/syzx/181214.html">新讯网</a></li>
                            <li><a target="_blank" href="http://info.cnfl.com.cn/html/1/shenghuo/2018/0925/17297.html">中国涪陵网</a></li>
                            <li><a target="_blank" href="http://www.pashu.org/hq/2018/0925/hq082025226.html">中金之家</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <hr>
    </div>

    <div class="container">
        <div class="row v-align-children margin-bottom-10">
            <div class="col-sm-3 text-center">
                <img class="cast-shadow" alt="Screenshot" src="~news/news-saco-ifsm.jpg">
            </div>
            <div class="col-sm-9">
                <h3 class="uppercase">环球金钻科技：精选钻石珠宝系列亮相IFSM超模大赛</h3>
                <h5 class="text-gray-dark">2018年09月24日</h5>
                <p><a target="_blank" href="https://v.qq.com/x/page/x07197sw2e7.html">点击链接观看腾讯视频</a></p>
                <ul>
                    <b>新闻视频</b>
                    <li><a target="_blank" href="https://v.qq.com/x/page/x07197sw2e7.html">腾讯视频</a></li>
                </ul>
            </div>
        </div>
        <hr>
    </div>

    <div class="container">
        <div class="row v-align-children margin-bottom-10">
            <div class="col-sm-3 text-center">
                <img class="cast-shadow" alt="Screenshot" src="~news/news-saco-fsm.png">
            </div>
            <div class="col-sm-9">
                <h3 class="uppercase">环球金钻科技携手与Capecasa赞助国际超模大赛，引领钻石拍卖新风尚！</h3>
                <h5 class="text-gray-dark">2018年08月25日</h5>
                <p>由澳门文化交流协会AICM主办，万星国际娱乐文化有限公司、香港辉煌娱乐有限公司联合主办的“IFSM国际时尚超模大赛2018”（香港站）新闻发布会近日在香港举行。据主办方在发布会上介绍，IFSM国际时尚超模大赛来自美国，是一项依托世界文化交流平台并由专业组织策划与实施综合性模特人才的全球选拔活动，希望能给予更多有梦想的年轻人可以站上舞台表现自己的机会；主办方同时公布IFSM国际时尚超模大赛2018中国内地及港澳地区总决赛将于9月22日在澳门举行，并诚邀大家共同参与，一同见证潮流诞生。</p>
                <ul>
                    <li class="float-left col-sm-4 no-padding-left">
                        <b class="float-left col-sm-12 no-padding-left">阅读详情</b>
                        <ul>
                            <li><a target="_blank" href="https://tech.china.com/article/20180825/kejiyuan0718183260.html">中华网科技</a></li>
                            <li><a target="_blank" href="http://www.91zixun.com/news/2018/0825/2040.html">91资讯网</a></li>
                            <li><a target="_blank" href="http://biz.ifeng.com/a/20180825/45139150_0.shtml">凤凰网商业</a></li>
                            <li><a target="_blank" href="http://film.szonline.net/zixunxinwen/20180825/11120180872949.html">深圳热线</a></li>
                        </ul>
                    </li>
                    <li class="float-left col-sm-4 no-padding-left">
                        <b class="float-left col-sm-12 no-padding-left">&nbsp;</b>
                        <ul>
                            <li><a target="_blank" href="http://epaper.hezeribao.com/shtml/gd/2018/0825/19354.html">菏泽日报</a></li>
                            <li><a target="_blank" href="http://www.cqtresearch.com/news/focus/2018/0825/focus061618033.html">企业时报网</a></li>
                            <li><a target="_blank" href="http://cy.pcfortune.com.cn/cyxw/2018/0825/4616.html">太平洋财富网</a></li>
                            <li><a target="_blank" href="http://www.cnbzol.com/gd/20180825/gd0818156402.html">巴中在线</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <hr>
    </div>

    <div class="container">
        <div class="row v-align-children margin-bottom-10">
            <div class="col-sm-3 text-center">
                <img class="cast-shadow" alt="Screenshot" src="~news/news-saco1.png">
                <img class="cast-shadow" alt="Screenshot" src="~news/news-saco2.png">
                <img class="cast-shadow" alt="Screenshot" src="~news/news-saco3.jpeg">
            </div>
            <div class="col-sm-9">
                <h3 class="uppercase">环球金钻科技：巨星闪耀钻碧辉煌 黄钻系列珠宝拍卖会圆满成功</h3>
                <h5 class="text-gray-dark">2018年08月13日</h5>
                <p>环球金钻科技有限公司(Universal)作为全球领先的钻石拍卖服务商，整合全球钻石卖家，卖家及投资者网络，致力于向大众传递独特的创新拍卖投资理念，目前已成为世界上发展最为快速的钻石商务网站之一。7月15日，环球金钻科技2018年度“星光闪烁钻碧辉煌之亚洲市场”发布会在香港亚洲国际博览馆隆重举行。会上，环球金钻科技CEO爱德华·诺曼表示，环球金钻的的管理团队多年来一直在筹划建立一个能够实现共享经济理念的平台，秉持的理念简单而清晰，那就是允许任何人参与拍卖并从中受益。环球金钻希望成为拍卖行业中第一个推出这类平台的公司，就在今年，环球金钻做到了。</p>
                <ul>
                    <li class="float-left col-sm-4 no-padding-left">
                        <b class="float-left col-sm-12 no-padding-left">阅读详情</b>
                        <ul>
                            <li><a target="_blank" href="http://business.sohu.com/20180813/n546232896.shtml">搜狐网</a></li>
                            <li><a target="_blank" href="http://news.shangol.cn/a/82607.html">商洛在线</a></li>
                            <li><a target="_blank" href="http://www.iewzx.com/zixun/gundong/2018/0813/gundong061626803.html">中国经贸网</a></li>
                            <li><a target="_blank" href="http://news.gxorg.com/baoliao/2018/0813/baoliao080812595.html">八桂网</a></li>
                            <li><a target="_blank" href="http://www.xyxww.com.cn/jhtml/cjxw/183210.html">信阳新闻网</a></li>
                            <li><a target="_blank" href="http://www.nmwhtv.com/guanzhu/2018/0813/guanzhu061628453.html">乌海网</a></li>
                        </ul>
                    </li>
                    <li class="float-left col-sm-4 no-padding-left">
                        <b class="float-left col-sm-12 no-padding-left">&nbsp;</b>
                        <ul>
                            <li><a target="_blank" href="http://news.ls520.net/shipin/20180813/18260.html">凉山在线</a></li>
                            <li><a target="_blank" href="http://www.tm022.com/viewdoc.php?id=20304">天穆网</a></li>
                            <li><a target="_blank" href="http://news.flyxg.com/2018/qiqu_0813/134450.html">新广网</a></li>
                            <li><a target="_blank" href="http://www.kepu365.cn/dujia/9418.html2019">科普新闻网</a></li>
                            <li><a target="_blank" href="http://www.jj-tv.com/jjtv/xiaofei/20180813/26477.html">九江电视台</a></li>
                            <li><a target="_blank" href="http://www.sino-manager.com/?p=91965">新浪经理人</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <hr>
    </div>

    <div class="container">
        <div class="row v-align-children margin-bottom-10">
            <div class="col-sm-3 text-center">
                <img class="cast-shadow" alt="Screenshot" src="~news/news-media-conf1.jpg">
                <img class="cast-shadow" alt="Screenshot" src="~news/news-media-conf2.jpg">
            </div>
            <div class="col-sm-9">
                <h3 class="uppercase">环球金钻科技“星光闪烁钻碧辉煌之亚洲市场”发布会在香港举行</h3>
                <h5 class="text-gray-dark">2018年07月16日</h5>
                <p>环球金钻科技2018年度“星光闪烁钻碧辉煌之亚洲市场”发布会在香港亚洲国际博览馆隆重举行。据了解环球金钻科技有限公司(Universal)作为全球领先的钻石拍卖服务商，整合全球钻石卖家，卖家及投资者网络，致力于向大众传递独特的创新拍卖投资理念，目前已成为世界上发展最为快速的钻石商务网站之一。</p>
                <ul>
                    <li class="float-left col-sm-4 no-padding-left">
                        <b class="float-left col-sm-12 no-padding-left">阅读详情</b>
                        <ul>
                            <li><a target="_blank" href="http://m.sharesz.com/article/48898">CMSTOP</a></li>
                            <li><a target="_blank" href="http://gd.sina.cn/sztech/2018-07-17/detail-ihfkffam3032059.d.html">新浪网</a></li>
                            <li><a target="_blank" href="http://3g.oeeee.com/m.php?s=/m/mshow/ctime/1531788007/id/677189/type/html/mtype/1">奥一网</a></li>
                            <li><a target="_blank" href="https://www.toutiao.com/i6578473118224876039/?iid=37717370452">今日头条</a></li>
                        </ul>
                    </li>
                    <li class="float-left col-sm-4 no-padding-left">
                        <b class="float-left col-sm-12 no-padding-left">新闻视频</b>
                        <ul>
                            <li><a target="_blank" href="https://v.qq.com/x/page/a0727hysgj0.html">腾讯视频-深圳财经</a></li>
                            <li><a target="_blank" href="https://www.iqiyi.com/w_19s0aj2ltp.html">爱奇艺-资讯</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <hr>
    </div>

    <div class="container">
        <div class="row v-align-children margin-bottom-10">
            <div class="col-sm-3 text-center">
                <img class="cast-shadow" alt="Screenshot" src="~news/news-blockchain.jpeg">
            </div>
            <div class="col-sm-9">
                <h3 class="uppercase">时代在召唤—区块链技术与拍卖系统的有机融合</h3>
                <h5 class="text-gray-dark">2018年06月05日</h5>
                <p>作为全球领先的钻石拍卖服务商，环球金钻科技自然不落人后，公司的技术团队已经在紧锣密鼓地筹备，力争实现区块链技术与环球金钻共享拍卖平台的有机融合。环球金钻科技的首席技术官，乔什威尔金森表示："随着乌克兰政府所推出的区块链拍卖平台成功落地，我们相信区块链技术在不久的未来将成为拍卖系统中不可缺少的一部分，环球金钻科技将在今年大力发展这一领域。"</p>
                <ul>
                    <b class="float-left col-sm-12 no-padding-left">阅读详情</b>
                    <li class="float-left col-sm-4 no-padding-left">
                        <ul>
                            <li><a target="_blank" href="http://www.1234098.com/20180605/41801.html">数字财经</a></li>
                            <li><a target="_blank" href="http://www.oilone.cn/qiye/keji/20180605/4015.html">财经一号网</a></li>
                            <li><a target="_blank" href="http://www.aizhcj.com/cj/2018/06/05/46493.html">智慧财经网</a></li>
                            <li><a target="_blank" href="http://www.cszsol.cn/csnews/201806/58496205.html">长沙之声</a></li>
                        </ul>
                    </li>
                    <li class="float-left col-sm-4 no-padding-left">
                        <ul>
                            <li><a target="_blank" href="http://www.cntopline.cn/v_1/279165.aspx">国内头条</a></li>
                            <li><a target="_blank" href="http://www.guojicj.com/news/china/shehui/15199.html">国际财经新闻中心</a></li>
                            <li><a target="_blank" href="http://www.40cj.com/a/jrtt/4062.html">肆零财经网</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <hr>
    </div>

    <div class="container">
        <div class="row v-align-children margin-bottom-10">
            <div class="col-sm-3 text-center">
                <img class="cast-shadow" alt="Screenshot" src="~news/news-iblockchain.png">
                <img class="cast-shadow" alt="Screenshot" src="~news/news-iblockchain2.png">
            </div>
            <div class="col-sm-9">
                <h3 class="uppercase">接连斩获两项“年度最佳” 创新拍卖理念大放异彩</h3>
                <h5 class="text-gray-dark">2018年05月23日</h5>
                <p>第七届深圳金融商博会暨区块链高峰论坛（iBLOCKCHAIN SUMMIT）于2018年5月18至19日在深圳大中华国际交易广场举行，作为国内最具代表性的综合性金融类展会，深圳金融商博会是金融交易商一次品牌展示及投资交流的盛会。与以往不同的是，此次博览会同期还举办了以区块链、互联网金融技术为主题的高峰论坛，旨在为广大投资者搭建一个务实的合作交流平台。</p>
                <p>环球金钻科技有限公司(Universal)作为全球领先的钻石拍卖服务商，一直致力于向大众传递独特的创新拍卖投资理念，自然不会错过这样的交流盛会。</p>
                <ul>
                    <b>阅读详情</b>
                    <li><a target="_blank" href="http://www.wancjw.cn/hwnews/2018/2328072405.html">华皖财经网</a></li>
                    <li><a target="_blank" href="http://www.jj-tv.com/jjtv/tech/20180522/18308.html">九江电视台</a></li>
                    <li><a target="_blank" href="http://yzwb.sjzdaily.com.cn/biznews/a/keji/05234C5H018.html">石家庄新闻网</a></li>
                </ul>
            </div>
        </div>
        <hr>
    </div>

    <div class="container">
        <div class="row v-align-children margin-bottom-10">
            <div class="col-sm-3 text-center">
                <img class="cast-shadow" alt="Screenshot" src="~news/news-Universal1.png">
            </div>
            <div class="col-sm-9">
                <h3 class="uppercase">环球金钻共享拍卖平台首轮钻石拍卖超预期完成</h3>
                <h5 class="text-gray-dark">2018年05月16日</h5>
                <p>环球金钻科技有限公司所推出的环球金钻共享拍卖平台于五月一日正式上线后，第一轮的拍卖活动已圆满结束。在广大环球金钻用户的踊跃参与下，公司为此次拍卖精选的11颗钻石拍卖物，在非常短的时间内被选择及投资参与完毕。</p>
                <ul>
                    <b>阅读详情</b>
                    <li><a target="_blank" href="http://www.fjii.com/sh/shzz/2018/0516/153300.shtml">览潮新闻网</a></li>
                    <li><a target="_blank" href="https://mbd.baidu.com/newspage/data/landingshare?context=%7B%22nid%22%3A%22news_9323370544710956612%22%2C%22sourceFrom%22%3A%22bjh%22%2C%22url_data%22%3A%22bjhauthor%22%7D">百度财经网</a></li>
                </ul>
            </div>
        </div>
        <hr>
    </div>

    <div class="container">
        <div class="row v-align-children margin-bottom-10">
            <div class="col-sm-3 text-center">
                <img class="cast-shadow" alt="Screenshot" src="~news/news-Universal2.png">
            </div>
            <div class="col-sm-9">
                <h3 class="uppercase">首批钻石已被超额认购 将追加推新扩大共享规模</h3>
                <h5 class="text-gray-dark">2018年05月04日</h5>
                <p>环球金钻科技有限公司(Universal)所推出的环球金钻共享拍卖平台(SICP)于五月一日正式上线后不到3天，第一批的钻石已被超额认购，并完成了所有拍卖目标。市场反应热烈超出公司原本预期。对此，环球金钻科技有限公司(Universal)将继续推出新一批的钻石让更多人一起参与SICP第一轮的共享拍卖。</p>
                <ul>
                    <b>阅读详情</b>
                    <li><a target="_blank" href="https://mbd.baidu.com/newspage/data/landingshare?context=%7B%22nid%22%3A%22news_8855664252712567524%22%2C%22sourceFrom%22%3A%22bjh%22%2C%22url_data%22%3A%22bjhauthor%22%7D">百度财经网</a></li>
                </ul>
            </div>
        </div>
        <hr>
    </div>

    <div class="container">
        <div class="row v-align-children margin-bottom-10">
            <div class="col-sm-3 text-center">
                <img class="cast-shadow" alt="Screenshot" src="~news/news-Universal2.png">
            </div>
            <div class="col-sm-9">
                <h3 class="uppercase">环球金钻共享拍卖平台 引领钻石投资新理念</h3>
                <h5 class="text-gray-dark">2018年05月02日</h5>
                <p>2018年，环球金钻科技有限公司(Universal)以共享经济的核心理念为导向，推出了环球金钻共享拍卖平台(Universal Innovative Co-Invest Platform)。作为一个线上拍卖平台，环球金钻共享拍卖平台规避了许多线下传统拍卖行的运营费用，拥有更大的利润空间。</p>
                <ul>
                    <b>阅读详情</b>
                    <li><a target="_blank" href="https://news.ifeng.com/a/20180502/58041149_0.shtml">凤凰网资讯</a></li>
                    <li><a target="_blank" href="https://media.weibo.cn/article?id=2309614235256269017667&amp;jumpfrom=weibocom">微博新闻</a></li>
                    <li><a target="_blank" href="https://m.baidu.com/from=844b/bd_page_type=1/ssid=0/uid=0/pu=usm%402%2Csz%401320_2001%2Cta%40iphone_1_10.3_3_603/baiduid=70163845C519210C5039BEB67D3C9FAD/w=0_10_/t=iphone/l=3/tc?ref=www_iphone&amp;lid=12587062633491846077&amp;order=2&amp;fm=alop&amp;tj=www_normal_2_0_10_title&amp;vit=osres&amp;m=8&amp;srd=1&amp;cltj=cloud_title&amp;asres=1&amp;nt=wnor&amp;title=%E6%98%9F%E9%92%BB%E7%A7%91%E6%8A%80%3A%E6%98%9F%E9%92%BB%E5%85%B1%E4%BA%AB%E6%8B%8D%E5%8D%96%E5%B9%B3%E5%8F%B0%E5%BC%95%E9%A2%86%E9%92%BB%E7%9F%B3%E6%8A%95%E8%B5%84%E6%96%B0%E7%90%86%E5%BF%B5-%E8%B4%A2%E7%BB%8F...&amp;dict=32&amp;wd=&amp;eqid=aeae3ac6aadfd000100000065b06ec9d&amp;w_qd=IlPT2AEptyoA_ykzt45oqPev3DRViIG&amp;tcplug=1&amp;sec=30016&amp;di=f412c3df46a79594&amp;bdenc=1&amp;tch=124.84.310.351.1.296&amp;nsrc=IlPT2AEptyoA_yixCFOxXnANedT62v3IIBuPNCBX28S5mFaoa43lHsRhJ7HNQ7_JF5D9gTCcsx5EuHSe07Qz7qR0rK-ksmcf88n8v0iprq&amp;clk_info=%7B%22srcid%22%3A1599%2C%22tplname%22%3A%22www_normal%22%2C%22t%22%3A1527180479631%2C%22xpath%22%3A%22div-a-h3%22%7D&amp;sfOpen=1">四川新闻网：财经</a></li>
                </ul>
            </div>
        </div>
        <hr>
    </div>
</section>

