
@{
    ViewBag.Title = "Services";
    Layout = "~/Views/Shared/_Layout_en.cshtml";
}

<section class="page-title page-title-1 image-bg overlay parallax">
    <div class="background-image-holder fadeIn">
        <img alt="Background Image" class="background-image" src="http://img.lanrentuku.com/img/allimg/1305/5-13050GS109-50.gif">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h2 class="uppercase mb0">Services</h2>
            </div>
        </div>

    </div>

    <ol class="breadcrumb breadcrumb-2">
        <li>
            <a href="/en-us/">Home</a>
        </li>
        <li class="active">Services</li>
    </ol>
</section>
<section class="pb0  bg-secondary">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">
                <h1>Introduction to Auction Services</h1>
                <p class="lead mb64">
                    Universal is a leading auctioneer of rough, polished diamonds through a extensive network of buyers, sellers and auction houses. Now, for the first time, the company is bringing together one of the industry’s largest international and diverse network of Registered Sellers and Registered Buyers through the launch of Auction Services for both rough and polished diamonds.
                </p>
                <br>
            </div>
        </div>

    </div>

</section>
<section class="pb0 pt0">
    <div class="container">
        <div class="row">
            <img class="" alt="" src="~img/process.jpg"><br><br>
        </div>

    </div>

</section>
<section class="pb0 bg-secondary">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">
                <h1>ELEVATED TRADING STANDARD</h1>
                <p class="lead mb64">
                    The service elevates rough and polished trading standards in the auction space through the implementation and public release of the Universal Auction Sales Diamond Trading Standard – an industry leading set of standards pertaining to seller integrity, diamond provenance and screening for synthetics and treatments.
                </p>
            </div>
        </div>

    </div>

</section>
<section class="pb0 ">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">
                <h1>SECURE, RELIABLE TRANSACTIONS WITH EASE</h1>
                <p class="lead mb64">
                    Universal, the leading e-auctions solutions company, created this innovative auctions and complies strictly with the global standard for information security. Bids and other confidential data are encrypted on a secure system, that is simple to use, intuitive and convenient.
                </p>
            </div>
        </div>

    </div>

</section>
<section class="pb0 bg-secondary">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">
                <h1>BLOCKCHAIN TECHNOLOGY</h1>
                <p class="lead mb64">
                    Blockchain, also known as distributed ledger technology, is a decentralised distributed database that maintains a continuously-growing list of records called ‘blocks’, that are secured from tampering and revision without the need for a central authority. Records encrypted on the blockchain are immutable – permanent and cannot be changed. This provides a single version of the truth and provides assurance on the authenticity of the data.
                </p>
                <p class="lead mb64">
                    Universal Blockchain is a traceability initiative built on a blockchain-based platform for the diamond and jewellery industry. The aim is to engage all industry participants including manufacturers, retailers and consumers to know a diamond’s story from the origin to the end customer. This has been developed from understanding that consumers have a keen interest in the lifetime journey of their diamonds and jewellery, as well as the industry desire to demonstrate authenticity, transparency, and provenance.
                </p>
            </div>
        </div>

    </div>

</section>